name: C/C++ CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: build-test
      shell: bash
      run: cmake -B build -S . -DCMAKE_SYSTEM_VERSION="10.0.20348.0"
    - run: cmake --build build --target all --target test
      if: ${{ runner.os == 'Linux' }}
    - run: cmake --build build --target ALL_BUILD --target RUN_TESTS
      if: ${{ runner.os == 'Windows' }}
    - run: COMET_LIB_DIR=stdlib/comet build/comet/comet stdlib/comet/unittest.cmt test_scripts/*.cmt
      if: ${{ runner.os == 'Linux' }}

  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: build
      shell: bash
      run: cmake -B release -S . -DCMAKE_BUILD_TYPE=Release -DCMAKE_SYSTEM_VERSION="10.0.20348.0" -DVERSION=${{ steps.get_version.outputs.VERSION }}
    - run: cmake --build release --target all
      if: ${{ runner.os == 'Linux' }}
    - name: Release-Linux
      uses: softprops/action-gh-release@v0.1.15
      if: ${{ startsWith(github.ref, 'refs/tags/') && runner.os == 'Linux' }}
      with:
        files: |
          ./release/comet/comet
          ./stdlib/comet/*.cmt
    - run: cmake --build release --target ALL_BUILD --target RUN_TESTS --config Release
      if: ${{ runner.os == 'Windows' }}
    - name: Release-Windows
      uses: softprops/action-gh-release@v0.1.15
      if: ${{ startsWith(github.ref, 'refs/tags/') && runner.os == 'Windows' }}
      with:
        files: |
          ./release/comet/Release/comet.exe
          ./stdlib/comet/*.cmt
