name: C/C++ CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: build-test
      shell: bash
      run: cmake -B build -S . -DCMAKE_SYSTEM_VERSION="10.0.20348.0"
    - run: cmake --build build --target all --target test
      if: ${{ runner.os == 'Linux' }}
    - run: cmake --build build --target ALL_BUILD --target RUN_TESTS
      if: ${{ runner.os == 'Windows' }}

  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: build
      shell: bash
      run: cmake -B release -S . -DCMAKE_BUILD_TYPE=Release -DCMAKE_SYSTEM_VERSION="10.0.20348.0"
    - run: cmake --build release --target all
      if: ${{ runner.os == 'Linux' }}
    - name: Release-Linux
      uses: softprops/action-gh-release@v1
      if: ${{ startsWith(github.ref, 'refs/tags/') && runner.os == 'Linux' }}
      with:
        files: ${{github.workspace}}/release/comet/comet
    - run: cmake --build release --target ALL_BUILD --target RUN_TESTS
      if: ${{ runner.os == 'Windows' }}
    - name: Release-Windows
      uses: softprops/action-gh-release@v1
      if: ${{ startsWith(github.ref, 'refs/tags/') && runner.os == 'Windows' }}
      with:
        files: ${{github.workspace}}\release\comet\Debug\comet.exe
